<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1>
      <%=kindOfDay %>
    </h1>
  </div>

  <div class="box">
    <% for(var i=0;i<newItemLists.length;i++) {%>
      <div class ="item">
        <label class="container">
          <input type="checkbox" >
          <p><%=newItemLists[i]%></p>

          


            <span class="checkmark"></span>

        </label>
      </div>
      <%}%>

        <form class="ityem" action="/" method="post">
          <input type="text" name="newItemList" placeholder="New Item" autocomplete="off" />
          <button type="submit" name="button">+</button>
        </form>

  </div>




</body>

</html>